<footer class="footer">
    <div class="container-fluid">
    <ul class="foote_bottom_ul_amrc">
        <li><a href="#" class="text-white">Inicio</a></li>
        <li><a class="text-white" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Buscador</a></li>
    </ul>
    <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2022 | Designed  <a href="mailto:flaviosalasevicius@hotmail.com">Flavio Salasevicius</a></p>
    
    <ul class="social_footer_ul">
    <li><a href="https://www.facebook.com/salaseviciusflavio/" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
    <li><a href="https://www.linkedin.com/in/salaseviciusflavio/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
    <li><a href="https://www.instagram.com/flaviocjs14/" target="_blank"><i class="fab fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
    </div>
    
    </footer>