
<section class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url(../../../assets/img/fondo.jpg);">
    <div class="container-fluid">
      <div class="row  justify-content-center align-items-center d-flex-row text-center h-100">
        <div class="col-12 col-md-4 col-lg-3   h-50 ">
          <div class="card shadow">
            <div class="card-body mx-auto">
              <h4 class="card-title mt-3 text-center">Ingresá con tu cuenta</h4>
             
              <form #loginForm="ngForm" (ngSubmit)="func_login(loginForm)">
                
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Correo Electrónico " type="email" name="email" [(ngModel)]="user.email" required>
                </div>
               
                <div class="form-group input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                  </div>
                  <input class="form-control" placeholder="Contraseña" type="password" name="password" [(ngModel)]="user.password" required>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block"> Ingresar </button>
                </div>
              
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>